@import "variables.scss";

.contest-header {
  position: relative;
  height: $contest-header-height;
  text-align: center;

  background-color: #fff;

  &.fixed {
    position: fixed;

    width: calc(100% - 12px);
  }
}